.product-list-hor {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
}

.card-hor {
    width: 25rem;
}

.card-hor .card-media {  
    align-self: center;
    border-bottom: 0;
    height: auto;
}

.card-hor .card-data{
    padding: 0 .5rem;
}

.card-hor .product-rating{
    align-self: baseline;
}

